meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
link(rel='apple-touch-icon-precomposed', href='img/icon.png')
// Splash screen for iPhone 4/4S
link(rel='apple-touch-startup-image', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)', href='img/splash-s.png')
// Splash screen for iPhone 5/5S
link(rel='apple-touch-startup-image', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)', href='img/splash.png')

