html
    head
        title Calendar - VisualTime
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        include includes/stylesheets
        link(href='css/calendar.css', rel='stylesheet', type='text/css')

    body
        include mixins/menubar
        +menubar('Calendar', '/nav', 'chevron-left', '/', 'home')

        .container
            ul.pager
                li.previous#back
                    a(href='#') &slarr; PREV
                li#currentMonth
                    a(href='#') Feburary 2014 
                li.next#forward
                    a(href='#') NEXT &srarr;

        svg#chart(width="300" height="300" viewBox="0 0 300 300" preserveAspectRatio="xMidYMid")

        include includes/scripts
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js')
        script(src='js/calendar.js', type='text/javascript')

        include mixins/help
        +help("This app is where you can visualize the time that you allocate to certain tasks through a calendar/intensity graph. It is set up in a calendar type format and the more tasks you have on a date, the more the date is shaded in. You can click on a date and see what tasks occupied that date.")
