html
    head
        title History - VisualTime
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        include includes/stylesheets
        link(href='css/history.css', rel='stylesheet', type='text/css')

    body
        include mixins/menubar
        if from === 'calendar'
            +menubar('History', '/calendar', 'chevron-left', '', '')
        else
            +menubar('History', '/nav', 'chevron-left', '', '')

        #items.container
            include includes/history-items

        include includes/scripts
        script(src='js/history.js', type='text/javascript')

        include mixins/help
        +help("The history application is an extension of the Calendar application by which you can select a date and see how you spent your time on that day.")
