doctype html
html
    head
        title VisualTime
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        include includes/app-meta
        include includes/stylesheets
        link(href='css/home.css', rel='stylesheet', type='text/css')

    body
        include mixins/menubar
        +menubar('VisualTime', '/record', 'plus', '/nav', 'align-justify')

        .container
            h3.greeting(data-username=user.name)

            p
                | Quick visualization of today (8AM-10PM):
            //- TODO: only a demo
            .progress

            include mixins/icon
            p.text-muted
                | Hit&nbsp;
                +icon('plus')
                | &nbsp;to record what you've done.

            hr

        .container.timeline
            h3 Your Timeline

            #items
                include includes/history-items

            button#load-more.btn.btn-info.btn-block(type='button') Load More

        include includes/scripts
        include includes/msg-script
        script(src='js/index.js')
        script(src='js/history.js')

        //- depends on jquery, so put after scripts
        include mixins/help
        +help("This is your home screen, a timeline of your time.<br>  In the menu bar, the “Record” button sends you to the “Record Time Usage” page where you can record what tasks take up what amount of time.<br> The “Menu” button sends you to the Menu page where you can navigate the apps that Visual Time offers you.")
