html
    head
        title Menu - VisualTime
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        include includes/stylesheets
        link(href='css/nav.css', rel='stylesheet', type='text/css')

    body
        include mixins/menubar
        +menubar('Menu', '/', 'chevron-left', '', '')

        .container
            .col-xs-1
            ul.mynav.nav.nav-pills.nav-stacked.col-xs-10
                li
                    a(href='/calendar')
                        span.glyphicon.glyphicon-calendar
                        | &nbsp;Calendar
                li
                    a(href='/trend')
                        span.glyphicon.glyphicon-signal
                        | &nbsp;Trend
                li
                    a(href='/usage')
                        span.glyphicon.glyphicon-dashboard
                        | &nbsp;Usage
                li
                    a(href='/statistics')
                        span.glyphicon.glyphicon-stats
                        | &nbsp;Statistics
                li
                    a(href='/logout')
                        span.glyphicon.glyphicon-user
                        | &nbsp;Log Out

            .col-xs-1

        include includes/scripts
        include includes/ga

        include mixins/help
        +help("This is your menu screen. You can access all of the Visual Time apps here including Calendar, Trend, Usage, Statistics, and History.")
