doctype html
html
    head
        title Record Time Usage - VisualTime
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        include includes/stylesheets
        link(href='/css/jquery.nouislider.min.css' rel='stylesheet' type='text/css')
        link(href='/css/record_alternative.css' rel='stylesheet' type='text/css')
        link(rel="stylesheet" href="/js/picker/themes/default.css" id="theme_base")
        link(rel="stylesheet" href="/js/picker/themes/default.date.css" id="theme_date")
        link(rel="stylesheet" href="/js/picker/themes/default.time.css" id="theme_time")
    body
        include mixins/menubar
        +menubar('Record', '/', 'chevron-left', '', '')

        .container
            h1 Record Time Usage

            form(role='form', action='/record/add', method='POST')
                .form-group
                    label(for='task-name-input') Task Name
                    input#task-name-input.typeahead(type='text' placeholder='tasks' autocomplete='off' spellcheck='false' dir='auto')
                    br
                    label(for='datepicker') Please pick a date
                    br
                    input#datepicker(type='text')
                    br
                    br
                    label(for='timepicker') Please select time
                    br
                    div(style='text-align: center;')
                        span#timestart 00:00 AM
                        span &nbsp; - &nbsp;
                        span#timeend 11:59 PM
                    br
                    #timepicker.blue
                        #error-alert.alert.alert-danger(style='display:none;')

                .button-holder
                    button.btn.btn-success.btn-lg.btn-block(type='submit') Save
                    a(href='/')
                        button.btn.btn-warning.btn-lg.btn-block(type='button') Cancel

        include includes/scripts
        script(src='/js/jquery.nouislider.min.js')
        script(src='/js/picker/picker.js')
        script(src='/js/picker/picker.date.js')
        script(src='/js/picker/picker.time.js')
        script(src='/js/picker/legacy.js')
        script(src='//twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js')
        script(src='/js/record_alternative.js')

        include mixins/help
        +help("This is your “Record Time Usage” screen. On this page, you can record what task accomplished, what time you started that task, and what time that task ended.<br> The tasks that you save on this page are recorded into your Visual Time account and will appear on the applications in the “Menu” screen. Recording these tasks will help you get a better grasp of how you visualize your time .<br> Press the “Cancel” button to stop recording a task and to return to the home screen.")
