html
    head
        title Statistics - VisualTime
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        include includes/stylesheets
        link(href='css/statistics.css', rel='stylesheet', type='text/css')

    body
        include mixins/menubar
        +menubar('Statistics', '/nav', 'chevron-left', '/', 'home')

        .container
            h3
                | Hi 
                = username
                | , you've used VisualTime for
            ul.list-group
                li.list-group-item
                    span#days 123
                    | &nbsp;Days

            h3
                | recorded
            ul.list-group
                li.list-group-item
                    span#tasks 256
                    | &nbsp;Activities

            h3
                | focused for
            ul.list-group
                li.list-group-item
                    span#hours 1973
                    | &nbsp;Hours

            h3
                | Good job! Keep going.

        include includes/scripts
        script(src='js/statistics.js', type='text/javascript')

        include mixins/help
        +help("This app is where you can visualize the time that you allocate to certain tasks through explicit data. Statistics will tell you how many days you have been using Visual Time, how many tasks you have accomplished since you began using Visual Time, and how much time you have recorded on Visual Time.")
