html
    head
        title Trend - VisualTime
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        include includes/stylesheets
        link(href='css/trend.css', rel='stylesheet', type='text/css')
    body
        include mixins/menubar
        +menubar('Trend', '/nav', 'chevron-left', '', '')
        .container
            .canvasWrapper
                canvas#barContainer(width='600', height='400')
        script(src='js/Chart.min.js')

        include includes/scripts
        script(src='js/trend.js', type='text/javascript')

        include mixins/help
        +help("This app is where you can visualize the time that you allocate to certain tasks through a endless bar-type graph. Trend allows you to see how much of your waking day was allocated by tasks. Each day is shown by a bar and each bar is broken up by what tasks you accomplished that day. This graph is to help you visualize how much time is used/free in a day.")
