html
    head
        title Usage - VisualTime
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        include includes/stylesheets
        link(href='css/usage.css', rel='stylesheet', type='text/css')

    body
        include mixins/menubar
        +menubar('Usage', '/nav', 'chevron-left', '', '')

        #main.container
            #view-toggler.row
                .col-xs-4
                    span.day Day
                .col-xs-4
                    span.week Week
                .col-xs-4
                    span.month Month

            canvas#pie-chart

            ul#task-legends.list-unstyled

        include includes/scripts
        script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js', type='text/javascript')
        script(src='js/usage.js', type='text/javascript')

        include mixins/help
        +help("This app is where you can visualize the time that you allocate to certain tasks through a pie graph. You can select Today, Week, or Month to find out how you allocate your time proportionally in either today, the past week, or the past month, respectively.")
