@import url(//fonts.googleapis.com/css?family=Raleway);
body {
  font-family: Raleway, Avenir, sans-serif; }

body {
  margin-top: 80px; }

#menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 60px;
  padding-top: 25px;
  color: white;
  background-color: #5abedb; }
  #menu-bar .wrapper {
    position: relative; }
    #menu-bar .wrapper h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 160px;
      height: 20px;
      margin-top: -10px;
      margin-left: -80px;
      line-height: 20px;
      font-size: 20px;
      text-align: center; }
    #menu-bar .wrapper .icon-left, #menu-bar .wrapper .icon-right {
      font-size: 20px; }
    #menu-bar .wrapper a, #menu-bar .wrapper a:link, #menu-bar .wrapper a:visited, #menu-bar .wrapper a:hover, #menu-bar .wrapper a:active {
      color: inherit; }

.done-list .badge {
  float: right; }

h3 {
  margin-top: 0; }

td .label {
  float: right; }

.panel {
  margin-bottom: 10px; }

.panel-heading, .panel-body {
  padding: 8px; }

#success-msg {
  z-index: 100;
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  margin-bottom: 0;
  border-radius: 0;
  text-align: center; }
