@import partials/menubar

.clock
  margin-top: .1em
  font-size: 4.5em
  line-height: .8em

.greeting
  font-size: 1.75em

.container h3
  font-size: 20px
  margin-top: 5px
  margin-bottom: 5px

#success-msg
  // put on top of everything
  z-index: 100
  display: none
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  // Reduce .alert's padding.
  padding: 5px
  // Undo .alert's margin-bottom, as we are
  // putting alert at bottom
  margin-bottom: 0
  border-radius: 0
  text-align: center
