body {
  margin-top: 60px; }

#menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding-top: 25px;
  color: white;
  background-color: #5abedb; }
  #menu-bar .wrapper {
    position: relative; }
    #menu-bar .wrapper h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 160px;
      height: 20px;
      margin-top: -10px;
      margin-left: -80px;
      line-height: 20px;
      font-size: 20px;
      text-align: center; }
    #menu-bar .wrapper .icon-left, #menu-bar .wrapper .icon-right {
      font-size: 20px; }
    #menu-bar .wrapper a, #menu-bar .wrapper a:link, #menu-bar .wrapper a:visited, #menu-bar .wrapper a:hover, #menu-bar .wrapper a:active {
      color: inherit; }

body {
  position: relative; }

.clock {
  margin-top: 0.1em;
  font-size: 5em; }

.greeting {
  font-size: 2em; }

#help {
  position: fixed;
  right: 1em;
  bottom: 1em; }
  #help a {
    color: inherit; }

#help-panel {
  display: none;
  position: fixed; }
  #help-panel .panel-title {
    position: relative; }
    #help-panel .panel-title span {
      position: absolute;
      right: 0; }
  #help-panel p {
    color: #333333; }

#success-msg {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px;
  border-radius: 0;
  text-align: center; }
