@import partials/menubar

body
  // For positioning #success-msg
  position: relative

.clock
  margin-top: .1em
  font-size: 4.5em
  line-height: .8em

.greeting
  font-size: 1.75em

.container h3
  font-size: 20px
  margin-top: 5px
  margin-bottom: 5px

#success-msg
  display: none
  position: absolute
  left: 0
  top: 0
  width: 100%
  // Reduce .alert's padding.
  padding: 5px
  border-radius: 0
  text-align: center
