@import url('http://getbootstrap.com/dist/css/bootstrap.css');

body {
    background-color: #5abedb;
    color: #fff;
    /* For positioning #success-msg */
    position: relative;
}

.clock {
    margin-top: .1em;
    font-size: 5em;
}

.greeting {
    font-size: 2em;
}

#help {
    position: fixed;
    right: 1em;
    bottom: 1em;
}

#help a {
    color: inherit;
}

#help-panel {
    display: none;
    position: fixed;
}

#help-panel .panel-title {
    position: relative;
}

#help-panel .panel-title span {
    position: absolute;
    right: 0;
}

#help-panel p {
    color: #333;
}

#success-msg {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* Reduce .alert's padding. */
    padding: 5px;
    border-radius: 0;

    text-align: center;
}
