@import partials/menubar

.mynav
  margin-top: 3em
  font-size: 1.2em
  ul
    display: inline-block
  li
    margin-top: 2em
    display: block
    width: 208px
    min-height: 50px

.nav > li > a
  background-color: #fff
  color: #000

.nav-stacked > li + li
  margin-top: 1em
