mixin help(help_text)
    a#help(href='#', style="display:block;position:fixed;z-index:2000;right:0;bottom:0;width:0;height;0;border-style:solid;border-width:0 0 50px 50px;border-color: transparent transparent #5abedb transparent;font-size:1.25em;color:#fff;")
        span.glyphicon.glyphicon-question-sign(style="position:relative;top:44px;right:22px;")

    #help-panel.panel.panel-primary(style="display: none; position: fixed;")
        .panel-heading
            h3.panel-title(style="position: relative;")
                | Help
                span.glyphicon.glyphicon-remove(style="position: absolute; right: 0;")
        .panel-body
            p!= help_text 

    script(src='/js/help.js')
